body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  padding: 0 10px 0 10px;
  width: 400px;
  margin-left: 15px;
}
h3,
h4,
h5 {
  text-align: center;
}
section#keepcalm-content {
  display: flex;
}
section#keepcalm-content .green {
  color: #419900;
}
section#keepcalm-content .red {
  color: #CF0B00;
}
section#keepcalm-content .gray {
  color: #ACACAC;
}
section#keepcalm-content .thermometer {
  display: block;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}
section#keepcalm-content .thermometer i {
  font-size: 55pt;
}
section#keepcalm-content .info {
  display: block;
  padding: 5px;
}
section#keepcalm-content .info h4 {
  font-weight: 200;
}
section#keepcalm-content .info .feedback .feedback-btn {
  color: white;
  font-weight: 700;
  font-size: 10pt;
  border-radius: 8px;
  height: 30px;
  margin: 3px;
}
section#keepcalm-content .info .feedback .feedback-btn.red {
  background-color: #CF0B00;
}
section#keepcalm-content .info .feedback .feedback-btn.red:hover {
  background-color: #7d0900;
}
section#keepcalm-content .info .feedback .feedback-btn.green {
  background-color: #419900;
}
section#keepcalm-content .info .feedback .feedback-btn.green:hover {
  background-color: #2a5500;
}
